

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    margin-top: 80px;
    margin-left: 36px;
    margin-right: 36px;
    background-color: #EDF2F4;
}

.container{

    display: flex;
    flex-wrap: wrap;

    align-self: center;
    align-items: center;
    justify-content: center;

    /*width is calculated using width *  (an individual grids width + border size)*/
    min-width: 416px;
    width: 416px;
    height: 416px;
    border: 5px solid black;
}

.grids{
    width: 24px;
    height: 24px;
    background-color:white ;

    border: 1px solid white;
}

.entered{
    width: 24px;
    height: 24px;
    background-color:black ;
    color: red;
    border: 1px solid white;
}

.ui{
    display: flex;
    width: 100%;
    align-self: center;
    height: 100%;
}

.user-options{
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: #A29C9B;

    margin-right: 17%;
    align-items: center;
}

.heading{
    text-align: center;
}

.erase{
    width: 65%;
    min-width: 60px;
}