html{
    font-family: 'Roboto', sans-serif;
}
:root{
    --background-color: #edf2f4;
}

body{
    background-color: var(--background-color);
    
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FE6D73;
    border-radius: 4px;
}

.ui{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-options{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #CCC9DC;
    align-items: center;
    padding-bottom: 20px;
    justify-content: center;

    border-radius: 6px;
}
.user-options > div{
    background-color: #EE6464;
    display: flex;
    width: 100%;

}
.user-options > button{
    background-color: #151515;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 14px 32px;
    font-size: 16px;
    margin: 3%;
    text-align: center;
    color: white;
}

.user-options > button:active{
    transform: scale(1.1);
    background-color: #974343;
}

.heading{
    align-self: center;
    text-align: center;
    width: 100%;

}

.container{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;

    align-self: center;
    align-items: center;
    justify-content: center;

    /*width is calculated using width *  (an individual grids width + border size)*/
    min-width: 320px;
    width: 320px;
    height: 320px;
    border: 5px solid black;
}

.grids{
    width: 20px;
    height: 20px;
    background-color:white ;
}

.entered{
    width: 20px;
    height: 20px;
    background-color:black ;

}
.play-area{
    margin-top: 35px;
}

.current-option{
    display: flex;

}

.item{
    margin-left: 10%;
    border-radius: 8px;
    background-color: black;
    width: 45%;

}

.select-color{
    width: 75%;
    background-color: #403F4C;
    display: grid;

    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    animation-name: fadeIn;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 5px;
    padding: 5px;

    transition: opacity 1s ease-in;
}
.select-color > button{
    min-height: 80px;
    outline: none;
    text-decoration: none;
    border: none;
    
    cursor: pointer;
}

.select-color > button:hover{
    transform: scale(1.03);
}

.select-color > button:active{
    transform: scale(0.95);
}

.hide{
    display: none;
    opacity: 0;
    animation-name: fadeOut;
}


@keyframes fadeIn{
    from{
        width: 25%;
        opacity: 0;
        display: none;
    }
    55%{
        width: 65%;
        opacity: 0.6;
        display: grid;
    }

    65%{
        opacity: 1;
        width: 85%;
    }

    80%{
        transform: scale(1.2);
    }

    100%{
        opacity: 1;
        width: 75%;

    }
}

@media (min-width: 1200px){

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        min-width: 100%;
        margin-left: 36px;
        margin-right: 36px;
    }

    .container{

        /*width is calculated using width *  (an individual grids width + border size)*/
        min-width: 416px;
        width: 416px;
        height: 416px;
        border: 5px solid black;
    }
    
    .grids{
        width: 24px;
        height: 24px;
        background-color:white ;
    
        border: 1px solid white;
    }
    
    .entered{
        width: 24px;
        height: 24px;
        background-color:black ;
        border: 1px solid white;
    }
    
    .ui{
        
        display: flex;
        width: 100%;
        align-self: center;
        flex-direction: row;
    }
    
    .user-options{
        display: flex;
        flex-direction: column;
        width: 320px;
        align-items: center;

        margin-left: 4%;
        margin-top: 7%;
    }

    .select-color{
        width: 15%;
        height: 55%;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        
    }


    @keyframes fadeIn{
        from{
            height: 10%;
            opacity: 0;
            display: none;
        }
        55%{
            height: 20%;
            opacity: 0.6;
            display: grid;
        }
    
        65%{
            opacity: 1;
            height: 30%;
        }
    
        80%{
            transform: scale(1.2);
        }
    
        100%{
            opacity: 1;
            height: 75%;
    
        }
    }
}
